/* get font from google */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    color: #ffffff;
    text-decoration: none;
    /* make everything use good font */
    font-family: 'JetBrains Mono', monospace;
}
body {
    background-color: #36393F;
}


a:hover {
    color: #a06464;
}


.maincontent ul{
    list-style-type: none;
    text-align: center;
}
.maincontent ul li {
    display: inline-block;
    vertical-align: middle;
    height:95%;
    width:95%;
}

.maincontent h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.maincontent h1 img {
    size: 20%;
    vertical-align: middle;
}

.maincontent table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.maincontent table td {
    padding: 0.5em;
    text-align: left;
}

.image {
    width: auto;
    padding: 50px;
    margin: 20px;
    background-color: #465057;
}
.content {
    width: auto;
    padding: 50px;
    margin: 20px;
    background-color: #465057;
}
.content input {
    width: auto;
    padding: 10px;
    margin: 20px;
    background-color: #465057;
    height: 30%;
    width: 70%;
}
.content textarea {
    width: auto;
    padding: 10px;
    margin: 20px;
    background-color: #465057;
    height: 40%;
    width: 80%;
}
.content label {
    width: 30%;
    text-align: right;
}

